<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Admin - Orders</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

<main class="admin-orders-page">
<header>
    <h1>Restaurant Orders</h1>
    <p>Admin Order Dashboard</p>
</header>

<div class="container">

    {% if orders %}

        {% for order in orders %}

        <div class="order-card">

            <h2>Order #{{ order['order_id'] }}</h2>

            <p class="order-info">
                <strong>Customer:</strong>
                {{ order['customer_name'] }}
            </p>

            <p class="order-info">
                <strong>Phone:</strong>
                {{ order['phone'] }}
            </p>

            <p class="order-info">
                <strong>Address:</strong>
                {{ order['address'] }}
            </p>

            <p class="order-info">
                <strong>Instructions:</strong>
                {{ order['instructions'] }}
            </p>

            <p class="order-info">
                <strong>Quantity:</strong>
                {{ order['quantity'] }}
            </p>

            <p class="total">
                Total: KSh {{ order['total_price'] }}
            </p>

            <p>
    <strong>Status:</strong>

    <span class="status">
        {{ order['order_status'] }}
    </span>
</p>

<form method="POST"
      action="/admin/orders/{{ order['order_id'] }}/status">

    <select name="status">

        <option value="Pending"
            {% if order['order_status'] == 'Pending' %}selected{% endif %}>
            Pending
        </option>

        <option value="Preparing"
            {% if order['order_status'] == 'Preparing' %}selected{% endif %}>
            Preparing
        </option>

        <option value="Ready"
            {% if order['order_status'] == 'Ready' %}selected{% endif %}>
            Ready
        </option>

        <option value="Completed"
            {% if order['order_status'] == 'Completed' %}selected{% endif %}>
            Completed
        </option>

    </select>

    <button type="submit">
        Update Status
    </button>

</form>

        </div>

        {% endfor %}

    {% else %}

        <div class="empty">
            <h2>No orders yet</h2>
            <p>Customer orders will appear here.</p>
        </div>

    {% endif %}

</div>
</main>

</body>
</html>