{% extends "cafe_base.html" %}

{% block title %}About Us - Dickens Cafe{% endblock %}

{% block content %}

    <!-- Navigation -->
    <!-- About Us -->
    <section class="welcome">

        <h2>About Dickens Cafe & Restaurant</h2>

        <p>
            Welcome to Dickens Cafe & Restaurant.
            We provide delicious meals, refreshing drinks
            and a comfortable dining experience.
        </p>

        <p>
            Our goal is to provide quality food and
            excellent service to our customers.
        </p>

        <h3>Opening Hours</h3>

        <p>
            Monday - Sunday: 7:00 AM - 10:00 PM
        </p>

        <h3>Our Location</h3>

        <p>
            Kisumu opposite MOI Street
        </p>

    </section>


{% endblock %}