{% extends "cafe_base.html" %}

{% block title %}Menu - Dickens Cafe{% endblock %}

{% block content %}

    <!-- Navigation Bar -->
    <!-- Menu Section -->
    <section class="welcome">

        <h2>Our Menu</h2>

        <div class="menu-container">

            <!-- Get food items from SQLite database -->
            {% for item in menu_items %}

            <div class="menu-card">

                <!-- Food Image -->
                <img src="{{ url_for('static',
                    filename='images/' + item['image']) }}"
                    alt="{{ item['name'] }}">

                <!-- Food Name -->
                <h3>{{ item['name'] }}</h3>

                <!-- Category -->
                <p class="category">
                    {{ item['category'] }}
                </p>

                <!-- Description -->
                <p>
                    {{ item['description'] }}
                </p>

                <!-- Price -->
                <h4>
                    KSh {{ item['price'] }}
                </h4>

                <!-- Order Button -->
                <a class="button"
                   href="{{ url_for('order', food=item['name']) }}">
                    Order
                </a>

            </div>

            {% endfor %}

        </div>

    </section>


{% endblock %}